body {
    display: flex;
    background-color: #C5D1E9;
    font-family: 'InterMedium';
    margin: 0px;
    flex-direction: column;
}

.mainBlock {
    /* margin-top: 142px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 139px; */
    /* margin: 142px auto 139px auto;
    width: 70%; */
    box-sizing: border-box;
    width: 90%;
    max-width: 1400px;
    padding: 0 20px;
    margin: 142px auto auto auto;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 колонки равной ширины */
  grid-template-rows: auto auto; /* 2 строки */
  row-gap: 87px;
  column-gap: 123px;
}

.top {
  grid-column: 1 / 3; /* занимает обе колонки */
  grid-row: 1;
}

.bottom-left {
  grid-column: 1; /* первая колонка */
  grid-row: 2; /* вторая строка */
}

.bottom-right {
  grid-column: 2; /* вторая колонка */
  grid-row: 2; /* вторая строка */
}

.footer-cell {
  grid-column: 1 / 3; /* занимает обе колонки */
  grid-row: 3; /* третья строка */
}


/*---------------- TebelID ---------------- */

.TebelID {
    width: 467px;
    height: 60px;
    background-color: #E2E9F4;
    border: 1px solid #F1F4FA;
    border-radius: 30px;
    box-sizing: border-box;
    padding-left: 43px;
    margin-bottom: 37px;
    font-family: 'InterRegular';
    font-size: 24px;
}

.TebelID::placeholder {
    color: #6B798A;
}

.TebelID:hover {
    color: #303F52;
}

.TebelID:focus {
    border: 2px solid;
    border-color: #6B798A;
    outline: none;
}


/*---------------- Switch ---------------- */

.switchInput {
    opacity: 0;
    width: 0;
    height: 0;
}

.switchLabel {
    position: relative;
    display: flex;
    background-color: #E2E9F4;
    border: 1px solid #F1F4FA;
    border-radius: 30px;
    cursor: pointer;
    width: 467px;
    height: 60px;
}

.switchOption {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: color 0.3s ease;
    font-weight: 500;
    font-size: 24px;
    color: #303F52;
}

.switchSlider {
    position: absolute;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    transition: transform 0.3s ease;
    width: 50%;
}

.switchInput:checked + .switchLabel .switchSlider {
    transform: translateX(100%);
}


/*---------------- Picture ---------------- */

.pictureConteiner {
    width: 467px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 37px 0 37px 0;
}

.uploadContainer {
    width: 467px;
    height: 384px;
    background-color: #E2E9F4;
    border: 1px solid #F1F4FA;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.uploadContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none; /* Скрываем изображение по умолчанию */
}
.uploadInput {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; /* Делаем input невидимым */
    cursor: pointer;
}



/*---------------- slider ---------------- */

.sliderContainer {
    width: 467px; /* Ширина ползунка */
    height: 73px;
    padding-top: 18.5px;
    margin-bottom:37px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 24px;
    color: #303F52;
}

.slider {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    width: 467px; /* Ширина ползунка */
    height: 5px; /* Высота полосы */
    background: #E2E9F4; /* Цвет полосы */
    border-radius: 30px; /* Скругление углов */
    outline: none; /* Убираем обводку */
    transition: opacity 0.2s; /* Плавный переход */
}

.slider:hover {
    opacity: 1; /* Полная непрозрачность при наведении */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    appearance: none; /* Убираем стандартный стиль */
    width: 9px; /* Ширина ползунка */
    height: 39.45px; /* Высота ползунка */
    border-radius: 30px; /* Скругление для создания круга */
    background: #ffffff; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}



.sliderValue {
    padding-top: 3px;
    padding-left: 27px; /* Размер шрифта */
}


/*---------------- TABLE ---------------- */

.instrumentsContainer {
    width: 727px; 
    height: 798px;
    border: 1px solid #F1F4FA;
    border-radius: 30px;
    background-color: #E2E9F4;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: #303F52;
}

.tableHeader {
    height: 83px;
    background-color: #EFF3F9;
    border: 1px solid #F1F4FA;
    border-radius: 30px;
    padding-left: 50px;
    align-content: center;
    /* flex-shrink: 0; */
}

.tableHeader p {
    margin: 0;
    font-family: 'InterSemiBold';
    font-size: 24px;
    color: #303F52;
}

.tableColumnHeaders {
    display: flex;
    /* flex-shrink: 0; */
}

.tableColumnHeaders .instrumentCol{
    width: 50%;
    height: 100px;
    padding-left: 85px;
    font-family: 'InterMedium'
}

.tableColumnHeaders .findingCol {
    width: 50%;
    height: 100px;
    padding-right: 39px;
    font-family: 'InterMedium'
}


.instrumentCol {
    width: 324px;
    padding-left: 46px;
    display: flex;
    align-items: center;
    /* width: calc(727px * 0.5 - 85px); */
    /* word-wrap: break-word; */
}

.findingCol {
    /* width: calc(727px * 0.5); */
    width: 324px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* word-wrap: break-word; */
}

.tableFooter {
    padding: 24px 0px 24px 66px;
    display: flex;
    align-items: center;
    color: #303F52;
}

.complianceText {
    margin-left: 20px;
    color: #333;
}

/* Стили для скроллбара */
.tableContent {
    flex: 1;
    overflow-y: auto;
    max-height: calc(798px - 150px);
}

.tableRow {
    display: flex;
    align-items: center;
    /* min-height: 47px; */
    height: auto;
    padding: 11.5px 0 11.5px 0;
    margin: 0px 39px 11px 39px;
}

/* Нечетные строки - с границей */
.tableRow:nth-child(odd) {
    border: 1px solid #F1F4FA;
    border-radius: 30px;
    background-color: #EFF3F9;
}

.tableRow:hover {
    background-color: #f8f9fa;
    border-radius: 30px;
}

.loading {
    padding: 20px;
    text-align: center;
    color: #666;
    font-style: italic;
}

.tableContent::-webkit-scrollbar {
    width: 8px;
}

.tableContent::-webkit-scrollbar-track {
    background: #E2E9F4;
    border-radius: 4px;
}

.tableContent::-webkit-scrollbar-thumb {
    background: #303f52ab;
    border-radius: 4px;
}

.tableContent::-webkit-scrollbar-thumb:hover {
    background: #303F52;
}

.buttonsBelowTable {
    display: flex;
    justify-content: flex-start;
    margin-top: 29px;
}

/*---------------- BUTTONS ---------------- */

button {
    /* opacity: 0.7; */
    padding: 15px 32px; /* Отступы */
    text-align: center; /* Выравнивание текста */
    text-decoration: none; /* Без подчеркивания */
    display: inline-block; /* Встраиваемый блок */
    font-size: 24px; /* Размер шрифта */
    margin: 18.5px 0 18.5px 0; /* Отступы вокруг кнопки */
    cursor: pointer; /* Указатель при наведении */
    border-radius: 30px; /* Закругленные углы */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

#check_Button {
    border: none;
    background-color: #1751A1;
    color: white;
    opacity: 0.7;
}
#insertButton {
    background-color: #ffffff00;
    border: 1px solid #F1F4FA;
    color: white;
}
#downloadButton, #downloadReportButton {
    border: 1px solid #F1F4FA;
    background-color: #E2E9F4;
    color: #303F52
}

.buttonCheck:hover {
    /* background-color: yellow; */
}

/*---------------- FOOTER ---------------- */

footer {
    background-color: #E2E9F4;
}

.footerBlock {
    margin-top: 142px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
    padding-bottom: 105px;
}

/*---------------- TEXT ---------------- */

h1 {
    font-size: 48px;
    color: #303F52;
    font-weight: 200;
    margin: 0px;
}

h2 {
    font-size: 40px;
    color: #303F52;
    font-weight: 200;
    margin: 0px;
    padding: 32px 0px 32px 0px;
}

p {
    font-size: 25px;
    color: #313131;
    font-family: 'InterRegular';
    margin: 0px;
}

* {
    font-family: 'InterRegular';
}

@font-face {
    font-family: 'InterMedium';
    src: url('fonts/Inter-Medium.otf') format('opentype');
    /* font-style: normal; */
    font-display: swap;
}
@font-face {
    font-family: 'InterRegular';
    src: url('fonts/Inter-Regular.otf') format('opentype');
    font-weight: 100;
    /* font-style: normal; */
    font-display: swap;
}

@font-face {
    font-family: 'InterSemiBold';
    src: url('fonts/Inter-SemiBold.otf') format('opentype');
    /* font-style: normal; */
    font-display: swap;
}

/*---------------- MEDIA ---------------- */

@media (max-width: 1450px) {
    .mainBlock {
        box-sizing: border-box;
        width: 90%;
        padding: 0 20px;
        margin: 82px auto auto auto;
    }

    .gridContainer {
    column-gap: 93px;
    }

    .instrumentsContainer {
        width: 627px;
    }

    /* .TebelID {
        width: 417px;
    }

    .switchLabel {
        width: 417px;
    }

    .pictureConteiner {
        width: 417px;
    }

    .uploadContainer {
        width: 417px;
    }

    .sliderContainer {
        width: 417px;
    } */

    .footerBlock {
        box-sizing: border-box;
        width: 90%;
        padding: 0 20px;
        margin: 82px auto auto auto;
        height: 300px;
    }
    
}

@media (max-width: 1290px) {
    .mainBlock {
        box-sizing: border-box;
        width: 90%;
        padding: 0 20px;
        margin: 82px auto auto auto;
    }

    .gridContainer {
        grid-template-columns: 1fr; /* Только одна колонка */
        grid-template-rows: auto auto auto auto; /* 4 строки */
        row-gap: 60px; /* Уменьшаем отступы между строками */
        column-gap: 0; /* Убираем отступы между колонками */
        box-sizing: border-box;
        width: 90%;
        padding: 0 20px;
        margin: 82px auto auto auto;
    }

    /* Переопределяем позиции grid-элементов */
    .top {
        grid-column: 1;
        grid-row: 1;
    }
    
    .bottom-left {
        grid-column: 1;
        grid-row: 2;
    }
    
    .bottom-right {
        grid-column: 1;
        grid-row: 3;
    }
    
    .footer-cell {
        grid-column: 1;
        grid-row: 4;
    }

    .instrumentsContainer,
    .TebelID,
    .switchLabel,
    .pictureConteiner,
    .uploadContainer,
    .sliderContainer,
    .slider {
        width: 100%; /* Занимает всю ширину */
        max-width: 920px; /* Но не больше максимальной ширину */
    }

    .footerBlock {
        height: 350px;
    }
}

@media (max-width: 940px) {
    .footerBlock {
        height: 400px;
    }
}

@media (max-width: 700px) {
    .footerBlock {
        height: 500px;
    }
}